@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

/*all*/

*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

button {
    display: inline;
    border: none;
    background-color: #F5f5f5;
    padding: .8vw;
    border-style: solid;
    border-color: #F5f5f5;
    border-radius: 4px;
    color: black;
}

button:focus {
    outline: none;
}

button:hover {
    box-shadow: black;
}


/*------------------*/


/*header*/

header {
    position: absolute;
    width: 100%;
}

header nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
    padding: 8px;
}

nav li a {
    text-decoration: none;
    font: inherit;
    color: rgba(0, 0, 0, 0.664);
}

.h-left-ul {
    float: left;
}

.h-right-ul {
    float: right;
}


/*main*/

main {
    padding-top: 25vh;
    text-align: center;
    /*centrira input*/
    margin-bottom: 20vh;
}

.google-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#search-bar {
    box-sizing: border-box;
    width: 50vw;
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
}

#search-bar input:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.search-form {
    position: relative;
}

#search-bar img {
    position: absolute;
    top: 0px;
    left: 0px;
}

.search-buttons {
    padding-top: 2vh;
    padding-bottom: 2vh;
    display: inline-block;
}


/*------------------*/

footer {
    position: absolute;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
}

.f-right-ul {
    float: right;
    padding-left: 5px;
}

.l-left-ul {
    float: left;
    padding-right: 5px;
}


/*


footer {
    position: absolute;
    display: block;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #F5f5f5;
}

footer nav ul {
    display: inline;
    list-style-type: none;
}

*/