        @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
        *,
         ::before,
         ::after {
            box-sizing: border-box;
            padding: 0;
            margin: 0;
        }
        
        body {
            font-family: 'Roboto', sans-serif;
            text-align: center;
        }
        
        button {
            background-color: #F5f5f5;
            margin: none;
            padding: 2vh 2vw 2vh 2vw;
            border-style: solid;
            border-width: 1pt;
            border-radius: 10%;
        }
        
        .search-button {
            border-width: 1pt;
            border-radius: 10%;
            border: transparent;
            margin-top: 1%;
        }
        
        .search-button:hover {
            color: black;
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }
        
        .search-button:focus {
            outline: 1px solid #4384f4;
        }
        
        .search-form {
            display: inline-block;
            vertical-align: middle;
           
        }
        
        .search-icon {
            border: none;
            background: transparent;
            transform: translate(90%, 15%);
        }
        
        .mic-icon {
            border: none;
            background: transparent;
            cursor: pointer;
            transform: translate(-135%, 12%);
        }
        /*---- NAVIGATION ----*/
        
        nav li {
            display: inline-block;
            padding: 8px;
            vertical-align: middle;
            /*allign icons and everything else*/
        }
        
        nav li a {
            text-decoration: solid;
            font-family: inherit;
            font-size: smaller;
            color: rgba(0, 0, 0, 0.842);
            font-weight: 500;
        }
        /*---- HEADER ----*/
        
        header {
            position: static;
            width: 100%;
            height: fit-content;
            overflow: auto;
            /*fix collapse caused by float*/
        }
        
        header nav {
            position: static;
        }
        
        .signin-button {
            font-weight: 200;
            color: #F5f5f5;
            background: #4384f4;
        }
        
        .signin-button:hover {
            background: #5993f8;
        }
        
        .signin-button:focus {
            background: #78aaff;
        }
        /*---- MAIN ----*/
        
        main {
            display: block;
            position: static;
            width: 100%;
            /*centering the input*/
            padding-top: 12vh;
            
        }
        
        .google-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        
        input {
    
            border-style:solid;
            border-color: rgb(119, 119, 119);
            border-radius: 40px;
            border-width: 1px;
            width: 540px;
            height: 40px;
            padding-left: 6%;
            /*position of search*/
        
        }
        
        input:hover {
            box-shadow: 0 0 11px rgba(33, 33, 33, .2);
        }
        
        input:focus {
            outline: none;
        }
        
        .search-buttons {
            padding-top: 2vh;
            padding-bottom: 2vh;
        }
        
        button:nth-of-type(1n+2) {
            margin-left: 2vw;
        }
        
        .language {
            margin-top: 2vh;
            font-size: smaller;
        }
        
        #app-li:hover {
            background: #f2f3f3;
            border-radius: 100%;
        }
        
        #app-li a:hover {
            text-decoration: none;
        }
        /*---- FOOTER ----*/
        
        footer {
            border-top: solid;
            border-width: 1pt;
            border-color: rgba(126, 126, 126, 0.5);
            background-color: #f2f3f3;
            float: right;
            /*fix collapse*/
            position: absolute;
            width: 100%;
            bottom: 0;
        }
        /*---- REST ----*/
        
        .right-ul {
            float: right;
            padding-right: 1vw;
        }
        
        .left-ul {
            float: left;
            padding-left: 1vw;
        }
        
        li a:hover {
            text-decoration: underline;
        }

        
        @media screen and (max-width:669px) {

            .search-form{
                display: flex;
                margin: auto;
                align-items: center;   
            }

            .search-icon{
               display:none;
            
            }

            .mic-icon{
                
               margin: auto;
               margin-bottom: 2%;
            }

            
        }

        @media screen and (max-height: 350px) and (max-width:400px) {
            footer{
                position: initial;
            }
        }